<!--<p>tv-shows-reminder works!</p>
<div *ngFor="let userTvShow of userTvShows">    
    <p>TV SHOWS INFO: </p>
    <p>{{userTvShow.tvShow.id}}</p>
    <p>{{userTvShow.tvShow.name}}</p>
    <p>{{userTvShow.tvShow.genre}}</p>
    <p>{{userTvShow.tvShow.productionCompnay}}</p>

    <p>USER RELATED INFO: </p>
    <p>{{userTvShow.watchingSeason}}</p>
    <p>{{userTvShow.watchingEpisode}}</p>
    <p>{{userTvShow.completed}}</p>
    <p>{{userTvShow.rating}}</p>
</div>
-->

<button mat-raised-button (click)="openTvShowDialog()">Add a tv show to your list!</button>
<table #table mat-table [dataSource]="userTvShows">
    
    <!-- Name Column -->
    <ng-container matColumnDef="tvShowName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.tvShow.name}} </td>
    </ng-container>
    
    <!-- Genre Column -->
    <ng-container matColumnDef="tvShowGenre">
        <th mat-header-cell *matHeaderCellDef> Genre </th>
        <td mat-cell *matCellDef="let element"> {{element.tvShow.genre}} </td>
    </ng-container>

    <!-- Production Company Column -->
    <ng-container matColumnDef="productionCompany">
        <th mat-header-cell *matHeaderCellDef> Production Company </th>
        <td mat-cell *matCellDef="let element"> {{element.tvShow.productionCompany}} </td>
    </ng-container>

    <!-- Watching Season Column -->
    <ng-container matColumnDef="watchingSeason">
        <th mat-header-cell *matHeaderCellDef> Watching Season </th>
        <td mat-cell *matCellDef="let element"> {{element.watchingSeason}} </td>
    </ng-container>

    <!-- Watching Episode Column -->
    <ng-container matColumnDef="WatchingEpisode">
        <th mat-header-cell *matHeaderCellDef> Watching Episode </th>
        <td mat-cell *matCellDef="let element"> {{element.watchingEpisode}} </td>
    </ng-container>

    <!-- Completed Column -->
    <ng-container matColumnDef="completed">
        <th mat-header-cell *matHeaderCellDef> Completed </th>
        <td mat-cell *matCellDef="let element"> {{element.completed}} </td>
    </ng-container>

    <!-- Personal Rating Column -->
    <ng-container matColumnDef="personalRating">
        <th mat-header-cell *matHeaderCellDef> Personal Rating </th>
        <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
</table>


































